<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    <div class="container">
        <a href="/create" class="btn btn-outline-primary mt-4"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAM9JREFUSEvtldENwjAMRF83YJPCBNBNYALYBEYok8AIsAkbgByRKkRJey1E4qP5q3p55zi2U1F4VYX55Ay2wB5YigHcgBNwjvWxwQK4jADHPDNqgIf/ERuYoBajzsmMsUoZHIDjl3C/fQe09hGe4BfRe4PuFKHBU4je62XtbNCXVZedoRSpnZ66k/8wyHX+XEXZ4ijeaEKzO8ndT+ShMlWBsS457JTKUAy76JVGU4ChxuCb3INzBdZjiW+9ge3JdG9AuNRRMNH3cxZNhvRtfAH3RCwZR1PgUgAAAABJRU5ErkJggg=="/></i></a> 
        <table class="table table-bordered table-striped text-center mt-4">
            <thead>
                <tr class="bg-primary text-white">
                    <th scope="col">ID</th>
                    <th scope="col">USUARIO</th>
                    <th scope="col">ROL</th>
                    <th scope="col">ACCIONES</th>
                </tr>

            </thead>
            <tbody>
                <% results.forEach((user)=>{ %>               
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.user %></td>
                    <td><%= user.rol %></td>
                    <td>
                        <a href="/edit/<%= user.id %>" class="btn btn-outline-info"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAANRJREFUSEvFlX0RwjAMR98UgAQkgASUAIqQADiYBCQgAQk4gMtdy5Vd2vTz2N/re/kl6TYx+JkG82kVHF2B11ihLQKBXxz4BKiSWsEaeAKroHJVUiMQ+AvYAvdAcgN8y77eUoEAzsAeeASSWYOLpUQQ9lwSeMnGtUudc64ghHuQSHYpeG4CDS5n1Z4vY1gJZPUOSvYsuJWgGZ4SdIHHBDF49LamvmfaDN7KgSp4LMFSUA3PETTBrS3q8quw7kGz5C8CbYtKkvwUnbumXQUlMPPd4TP4APh7JRlD59qMAAAAAElFTkSuQmCC"/></a> 
                        <a href="/delete/<%= user.id %>" class="btn btn-outline-danger"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAJ9JREFUSEvt1csRwjAMRdGTSigB6IQSSAeUQCdQAp0AHZBKYFjwCzFyMgmbREuP5l3p2ZYKA0cxsL4cwBq7RCEl9r+KjAALHIMulzilcuqAa0+WPXX/DuipgZdM6g66WvWlNw7Ao8u6bU3nnSyaAI1P/93vyaIRWNRmAGZ/tAtmbZRxxn1BfURq2K2wxTwTUmGDQy4gUzdOi3ZyrBBk3AB+wyoZJl1mqQAAAABJRU5ErkJggg=="/></a>
                    </td> 
                </tr>

            <% }) %>
            </tbody>
        </table>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>